BasedOnStyle: Microsoft
Language: Cpp
Standard: c++17
ColumnLimit: 0
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
SortIncludes: Never
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left
